{{ form_start(Form) }}
    {{ form_widget(Form) }}

        <button class="btn btn-primary btn-block" type="button">Button</button>

    <div class="d-grid gap-1 col-6 mx-auto">
    </div>
    <input type="submit" value="{{ submitButtonText|default('Create Pin') }}" formnovalidate class="btn btn-primary btn-block">
{{ form_end(Form) }}