{% extends 'layouts/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="row">
</div>
    <h1>Create Pin</h1>
    
    {{ include('pins/_form.html.twig', {"submitButtonText":"Create Pin"}) }}
{% endblock %}