{% extends 'layouts/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

div.{{ form_row(form) }}
    <h1>Create Pin</h1>
    
    {{ include('pins/_form.html.twig', {"submitButtonText":"Create Pin"}) }}
{% endblock %}